.blur-in-expand {
    animation: shadow-drop-center 0.4s linear both;

}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 transparent
    }

    100% {
        box-shadow: 0 0 80px 0 rgb(255, 156, 8);
    }

}


.blur-out-contract {
    animation: blur-out-contract 0.4s linear both
}

@keyframes blur-out-contract {
    0% {
        transform: scale(1);
        filter: blur(.01px);
    }

    100% {
        transform: scale(0);
        filter: blur(12px);
        opacity: 0
    }
}

.vibrate {
    animation: vibrate 1.5s linear both
}

@keyframes vibrate {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-2px, 2px)
    }

    40% {
        transform: translate(-2px, -2px)
    }

    60% {
        transform: translate(2px, 2px)
    }

    80% {
        transform: translate(2px, -2px)
    }

    100% {
        transform: translate(0)
    }
}

.tracking-in-expand {
    animation: tracking-in-expand 0.4s linear both
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.2em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}


.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.boton-terminar {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 11em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#f40303,#f4b541,#f3eec3,#f40303);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .boton-terminar:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .boton-terminar:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#f40303,#f4b541,#f3eec3,#f40303);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .boton-terminar:hover::before {
    filter: blur(20px);
  }
  
  .boton-terminar:active {
    background: linear-gradient(32deg,#f40303,#f4b541,#f3eec3,#f40303);
  }